<div class="container py-7" id="dashboard">
    <div class="d-flex flex-wrap justify-content-between pt-7">
        <div class="col-lg-3 col-md-4 col-sm-12 position-relative" id="dashboard-profil">
            <div class="card p-3 shadow border-light sticky-top">
                <% if current_user.photo.present?%>                     
                    <%= link_to image_tag(current_user.photo.url(:medium), :class => "avatar-picture position-absolute"), "#" %>
                    <% else %>
                    <%= link_to image_tag(current_user.avatar + "?type=large", size:150, :class => "avatar-picture position-absolute"), '#' %>              
                <% end %>
                <h2 class="dashboard-name"><%= current_user.username%></h2>
                <hr>
                <div class="d-flex justify-content-center">
                    <div><h3><%= pluralize(@current_posts.count, 'Activity') %></h3></div>
                </div>
                <hr>
                <div >
                    <h3 class="text-left">THIS MONTH</h3>
                    
                    <div>
                    <%= column_chart @data.group_by_day_of_month(:date).sum(:distance), colors: ["#2C82FF", "#2C82FF"],width: "100%", label: "Value", messages: {empty: "No data"} %>
                    </div>
                </div>
                <hr>
                <div class="text-left">
                    <h3>Challenge</h3>
                    <div class="card border-light bg-light">
                        <h3 class="text-center my-2 ">140 km in 2 weeks</h3>
                        <div class="d-flex justify-content-between p-3">
                            <div class="challenge-separator"><h1>62%</h1><p></p>of 150 km</div>
                            <div><h1>2 days</h1><p></p>end of challenge</div>
                        </div>
                    </div>
                </div>
             </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12 position-relative" id="dashboard-feed">
            <div>
                <div class="d-flex feed-nav">
                    <h2 class="mb-0"><a href="/home/dashboard" class="f-trump mr-3">LAST NEWS</a></h2>
                    <h2 class="mb-0"><a href="/home/my_sessions" class="f-trump text-dark">YOUR SESSIONS</a></h2>
                </div>
                <%= render "feed"%>
            </div>
            <!-- USER POST EMPTY -->
            <% unless @posts.present? %>
                <div class="user-post-session card p-3 border-light shadow mb-3">
                    <%=image_tag("/assets/therock.jpg", :class => "img-post mt-3") %>
                    <div class="post-info mt-3">
                        <h3 class="tilte-article mb-3">No activity yet !</h3>
                        <p class="mb-0">Please go outside doing some sport and come back add new session</p>
                        <p><strong>Happy sporting</strong></p>
                        <%= link_to "add session", new_post_path, class:"btn btn-primary f-trump btn-style float-right" %>
                    </div>
                </div>
            </div> 
            <% end %>
        <!--  PERFORMANCE -->
        <div class="col-lg-3 col-md-12 col-sm-12" id="dashboard-performance">
            <div class="sticky-top">
                <div>
                    <h2>TOP&nbsp;PERFORMANCE</h2>
                    <div class="overflow pb-3 d-md-flex d-lg-block justify-content-start">
                        <!-- RUNNING -->                            
                        <% if Post.where(activity: "Running").present?%>
                            <div class=" col-md-4 col-lg-12">
                                <div class="card shadow px-3 pt-3 border-light mb-3">
                                    <div class="performance-info d-flex align-items-baseline">
                                        <%=image_tag("/assets/running.svg", :class => "svg-acivities") %>
                                        <h3 class="tilte-article ml-3 mb-0">RUNNING</h3>
                                    </div>
                                    <hr>
                                    <%= render 'top', obj:@distance_running_sum %>
                                </div>
                            </div>
                        <% end %>
                        <!-- END RUNNING -->
                        <!-- BIKING -->
                        <% if Post.where(activity: "Cycling").present?%>
                            <div class=" col-md-4 col-lg-12">
                                <div class="card shadow px-3 pt-3 border-light mb-3">
                                    <div class="performance-info d-flex align-items-baseline">
                                        <%=image_tag("/assets/biking.svg", :class => "svg-acivities") %>
                                        <h3 class="tilte-article ml-3 mb-0">Biking</h3>
                                    </div>
                                    <hr>
                                    <%= render 'top', obj:@distance_biking_sum %>
                                </div>
                            </div>
                        <% end %>
                        <!-- END BIKING -->
                        <!-- HIKING -->
                        <% if Post.where(activity: "Hiking").present?%>
                            <div class=" col-md-4 col-lg-12">
                                <div class="card shadow px-3 pt-3 border-light mb-3">
                                    <div class="performance-info d-flex align-items-baseline">
                                        <%=image_tag("/assets/hiking.svg", :class => "svg-acivities") %>
                                        <h3 class="tilte-article ml-3 mb-0">Hiking</h3>
                                    </div>
                                    <hr>
                                    <%= render 'top', obj:@distance_hiking_sum %>
                                </div>
                            </div>
                        <% end %>
                        <!-- END HIKING -->                
                    </div>
                </div>
            </div>
        </div>
        <!--  END PERFORMANCE -->
    </div>
</div>