<header class="home-header form-header position-relative">
<%=image_tag("/assets/home-bg.png", :class=>"position-absolute img-log-sign") %>
  <div class="container py-5">
    <div class="card p-3 col-sm-12 col-md-10 col-lg-6 col-xl-4 mx-auto shadow">
      <h2>Log in</h2>
      <hr>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="d-flex">
          <div class="field col-6 mb-3">
            <%= f.label :login %><br />
            <%= f.text_field :login, autofocus: true, autocomplete: "email", class:"w-100" %>
          </div>

          <div class="field col-6 mb-3">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class:"w-100" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field col-6">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", :class=> "btn btn-primary f-trump mt-3 mr-4 btn-style" %>
        </div>
      <% end %>
      <hr>
      <%= render "devise/shared/links" %>
      <hr>
      <%= link_to 'Connect with Facebook', user_facebook_omniauth_authorize_path, :class => "btn-facebook btn"  %>
    </div>
  </div>
</header>