<%= form_with(model: challenge, local: true) do |form| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
        <% challenge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex justify-content-between flex-wrap">
    <div class="field col-sm-12 col-md-8 col-lg-8 col-xl-5 mb-3">
      <%= form.label :title %>
      <%= form.text_field :title, class:"w-100"%>
    </div>
    <div class="field col-sm-12 col-lg-4 col-xl-4 mb-3">
      <%= form.label :activity %><br />
        <%=  form.collection_select :activity, Challenge.activities.map{ |a| [a.first,a.first] },  :first, :second %>
    </div>
    <div class="field col-sm-12 col-lg-4 col-xl-3 mb-3">
      <%= form.label :difficulty %><br />
      <%=  form.collection_select :difficulty, Challenge.difficulties.map{ |b| [b.first,b.first] },  :first, :second %>
    </div> 
    <div class="field col-sm-12 col-lg-4 col-xl-4 mb-3">
        <%= form.label "Number of days to do it" %>
        <%= form.text_field :deadline %>
    </div>
  </div>
  <hr>
  <div id="myAnswers" class="d-flex-custom justify-content-between flex-wrap">
    <div class="field col-sm-12 col-lg-4 col-xl-4 mb-3 Hiking ">
      <%= form.label :distance %>
      <%= form.text_field :distance %>
    </div>
      <div class="field col-sm-12 col-md-4 mb-3">
        <%= form.label :duration %><br />
        <%= form.time_field :duration %>
      </div>
    <div class="field col-sm-12 col-lg-4 col-xl-4 mb-3  Hiking">
      <%= form.label :elevation %>
      <%= form.text_field :elevation %>
    </div>
    <div class="field col-sm-12 col-lg-4 col-xl-4 mb-3 fixtures Wakeboard">
      <%= form.label :trick %>
      <%= form.text_field :trick %>
    </div>
  </div>
    <hr>

  <div class="actions align-self-end col-sm-12 col-md-4">
    <%= form.submit "Add your challenge", class:"btn btn-primary f-trump btn-style" %>
  </div>
<% end %>
