
 <header class="home-header">
  <div class="col-4 mx-auto py-7">
        <div class="card p-3 shadow mb-3"
        <% if @challenge.difficulty == "Hard"%> style="border:none; border-top:8px solid #FF2C2C"<% end %>
          <% if @challenge.difficulty == "Medium"%> style="border:none; border-top:8px solid #D38013"<% end %>
          <% if @challenge.difficulty == "Easy"%> style="border:none; border-top:8px solid #2C82FF"<% end %>>
          <div class="d-flex align-items-baseline">
            <%=image_tag("/assets/rowing.svg", :class => "svg-acivities") %>
            <h4 class="ml-3"><%= @challenge.title %></h4>
            <p class="ml-auto mr-0"><%= @challenge.difficulty %></p>
          </div>
          <hr>
          <div class="d-flex justify-content-between">
            <% if @challenge.distance.present?%>                        
            <div class="ml-3"><h4 class="mr-5 mb-0"><%= @challenge.distance %> km</h4><p class="mb-0">Distance</p></div>
            <% end %>
            <% if @challenge.elevation.present?%>
            <div><h4 class="mb-0"><%= @challenge.elevation %></h4><p class="mb-0">Elevation</p></div>
            <% end %>
            <% if @challenge.trick.present?%>
            <div><h6 class="mb-0 w-50"><%= @challenge.trick %></h6><p class="mb-0">Trick</p></div>
            <% end %>
            <% if @challenge.deadline.present?%>                        
            <div><h4 class="mr-5 mb-0"><%= pluralize(@challenge.deadline, 'day') %></h4><p class="mb-0">Deadline</p></div>
            <% end %>
          </div>
      </div>
      <div>
        <%= link_to 'Edit', edit_challenge_path(@challenge) %> |
        <%= link_to 'Back', challenges_path %>
      </div>
    </div>
  </header>