<footer class="bg-dark text-white pt-6">
  <div class="container d-flex flex-wrap justify-content-around">
    <div class="col-sm-12 col-md-2 align-self-center">
      <ul class="text-right">
      <li><h4 class="text-primary">MOOVE AND GROOVE</h4></li>
      <li><%= link_to "Dashboard", home_dashboard_path, class:"text-white" %></li>
      <li><%= link_to "Challenge", challenges_path, class:"text-white" %></li>
      <li> <%= link_to "Add session", new_post_path, class:"text-white" %></li>
      <li><%= link_to "My sessions", home_my_sessions_path, class:"text-white" %></li>
      </ul>
    </div>
    <div class="col-sm-2 col-md-4 text-center">
          <a class="navbar-brand" href="#"><%=image_tag("/assets/logo-footer.png") %></a>
    </div>
    <div class="col-sm-12 col-md-2 align-self-center">
      <ul>
        <li><h4 class="text-primary">Social medias</h4></li>
        <li><a  class="text-white" href="#">Facebook</a></li>
        <li><a  class="text-white" href="#">Twitter</a></li>
        <li><a  class="text-white" href="#">Youtube</a></li>
        <li><a  class="text-white" href="#">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="pt-6 pb-1 container">
  <hr>
    <p class="text-center">Made with 🤘 by <a class="text-white" target="_blank" href="https://www.linkedin.com/in/pierre-cammas/">Pierre CAMMAS</a></p>
  </div>
</footer>