<!DOCTYPE html>
<html>
  <head>
    <title>Mooveandgroove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
      <%= render 'layouts/navigation'%>
      <% if notice.present?%>
      <div class="mb-0 alert-success fade show fade-out position-absolute card shadow" role="alert">
        <div class="card-header"><h5>Notification</h5></div>
        <div class="card-body bg-white"><%= notice %></div>
      </div>
      <% end %>
      <% if alert.present?%>
      <div class="mb-0 alert-warning fade show fade-out position-absolute card shadow" role="alert">
        <div class="card-header"><h5>Notification</h5></div>
        <div class="card-body bg-white"><%= alert %></div>      
      </div>
      <% end %>
      
    <%= yield %>

  <!-- <%= debug user_signed_in? %>
    <%= debug session.to_hash %> --> 

   <%= render 'layouts/footer'%>
   <%= javascript_pack_tag 'custom' %>
  </body>
</html>
